
#div-formulario {
    padding: 1em;
    text-align: center;
}


#div-formulario div {
    margin-bottom: 0.5em;
}

#div-formulario input,
button,
select {
    padding: 0.5em;
    border-radius: 5px;
}

#div-formulario button {
    background-color: rgb(177, 180, 4);
}

#div-formulario button:hover {
    background-color: rgb(245, 165, 6);
    cursor: pointer;
}

.card-content h3 {
    font-size: 1.1em;
   }s

.card img {
    height: 70%;
}

.card-content p:nth-child(3), p:nth-child(4) {
font-size: 0.70em;
}

#contador {
    background-color: rgb(245, 165, 6);
    color: rgb(110, 6, 6);
    font-weight: bolder;
    padding: 0.2em 0.5em 0.2em 0.5em;
    border-radius: 50px;

}

footer {
    text-align: center;
    padding: 1,1em 0;
    background-color: #40d254;
    color: rgb(245, 165, 6);
    position: fixed;
    bottom: 0;
    width: 100%;
}


