body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #35042f;
    color: #e0e0e0;
    
}

#div-principal {
    padding: 20px;
    
}

/* Botones */
#form-seleccion {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    gap: 10px;
}

#form-seleccion button, select {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#boton-dinosaurios {
    background-color: #f1d505;
    color: white;
}

#boton-desiertos {
    background-color: #f64f0d;
    color: white;
}

#boton-oceanos {
    background-color: #f1d505;
    color: white;
}

#boton-montañas {
    background-color: #f64f0d;
    color: white;
}

#boton-deslaves {
    background-color: #f1d505;
    color: white;
}

#boton-minas {
    background-color: #f64f0d;
    color: white;
}

#boton-ballenas {
    background-color: #f1d505;
    color: white;
}

#boton-volcanes {
    background-color: #f64f0d;
    color: white;
}

#boton-todas {
    background-color: #85c3db;
    color: white;
}


#genero {
    background-color: #09c74e;
    color: black;
}

#form-seleccion button:hover {
    opacity: 0.8;
}

/* Estilo de la lista de películas */
#lista_documentales {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.documentales {
    background-color: #1e1e1e;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.4);
    text-align: center;
}

.documentales img {
    width: 100%;
    border-radius: 8px;
    margin-bottom: 10px;
}

.documentales h6 {
    font-size: 18px;
    margin: 10px 0;
    color: #ffd700;
}

.documentales p {
    margin: 0;
}

.documentales ul {
    list-style: none;
    padding: 0;
    margin: 0;
    font-size: 14px;
    color: #cfcfcf;
}

/* Responsividad */
@media (max-width: 768px) {
    #lista_documentales {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    #lista_documentales {
        grid-template-columns: 1fr;
    }
}

header {
    padding-top: 1em;
    text-align: center;
}